.container nav{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;   
    display: flex;
    justify-content: center;
}

.container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.container li > a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.container li > a:hover {
    border: 1px solid black;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(0, 0, 0, 0.3);
}